@import url("https://fonts.cdnfonts.com/css/cupid-love-2");

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #f6f6f6;
    font-size: 80.5%;

    > header {
        background-color: #111;
        color: white;
        font-size: 2rem;
        padding: 20px 0px;

        display: flex;
        justify-content: center;

        > a {
            > span {
                font-family: 'Cupid Love', sans-serif;
                letter-spacing: 3px;

                > b {
                    color: #dd2d2d;
                }
            }
        }
    }

    > main {
        background-color: #fff;
        padding: 0 30px;

        .titulo-pagina {
            padding: 50px 0;
            text-align: center;
            font-size: 2.5rem;
        }

        .conteudo {
            display: flex;

            section {
                flex: 1;
                background-color: white;
            }

            aside {
                min-width: 250px;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 30px;

        thead {
            tr {
                border-bottom: 2px solid #ccc;
            }

            th {
                text-align: left;
                padding-bottom: 6px;
                text-transform: uppercase;
                color: #666;
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #ccc;

                &:last-child {
                    border: 0;
                }

                td {
                    padding: 18px 0px;
                    font-size: 17px;
                    margin-right: 9rem;
                }
            }
        }
    }

    .produto {
        display: flex;
        align-items: center;

        img {
            border-radius: 6px;
        }

        .info {
            margin-left: 1.7rem;

            .produto-nome {
                font-size: 25px;
            }
        }
    }
}

button {
    cursor: pointer;
}

.qtd {
    background-color: #eee;
    display: inline-flex;
    padding: 0 0;
    height: 26px;
    overflow: hidden;
    justify-content: space-around;
    min-width: 50px;
    align-items: center;
    border-radius: 20px;

    span {
        margin: 0 10px;
    }

    button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 0;
        padding: 0 10px;
        height: 100%;
        font-size: 16px;

        &:hover {
            background-color: #ddd;
            transition: all 200ms;
        }
    }
}

.delete {
    background-color: #ae0f07;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;

    &:hover {
        background-color: #e04b4b;
        transition: all 400ms;
    }
}

aside {
    margin-left: 4rem;

    .box {
        border-radius: 12px;
        margin-bottom: 15px;
        border: solid 1px #ccc;
        background-color: #ddd;
        font-size: 14px;
        font-weight: 100;

        header {
            padding: 15px 20px;
            font-size: 25px;
            font-weight: 100;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }

        .info {
            padding: 20px;

            > div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 6px;
                color: #333;
            }

        }

        footer {
            background-color: #d1d1d1;
            padding: 15px 20px;
            font-size: 22px;
            display: flex;
            justify-content: space-between;
        }
    }

    > #finalizar {
        border-radius: 12px;
        border: 0;
        padding: 15px 0;
        color: white;
        background-color: #28a745;
        display: block;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;

        &:hover {
            background-color: #3bc55b;
            transition: all 300ms;
        }
    }
}


@media (max-width: 768px) {
  body > main {
    padding: 0;
  }
  
  .conteudo {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
  }

  aside {
    display: block;
    width: 100%;
    margin: 20px 0 10px 0;
  }

  body table {
    width: 100%;
    table-layout: fixed;
    margin: 0;
  }

  thead tr{
    display: flex;
    gap: 29px;
    font-size: 10px;
  }

  tbody {
    width: 100%;
  }

  tbody tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    max-width: 100%;
  }

  body table tbody tr td {
    margin: 0;
    padding: 10px 0;
    font-size: 12px;
    align-self: center;
    min-width: 70px;
  }
  
  body table thead tr {
    gap: 10px;
  }

  body table thead tr th {
    min-width: 70px;
  }

  body table tbody tr td:last-child { 
    min-width: 0;
  }
  body .produto {
    width: min-content;
  }

  body .produto img{
    display: none;
  }

  body .produto .info .produto-nome {
    font-size: 15px;
  }

  body .produto .info {
    margin: 3px;
    width: min-content;
  }

  .qtd span {
    margin: 0;
  }

  .delete {
    width: 20px;
    height: 20px;
    font-size: 17px;
  }

  .total,
  .preco {
    text-align: center;
  }
}